<h1>Search for crimes</h1>

<%= form_tag("/results", :method => "post") do %>
  <%= label_tag(:address, "Address") %><br>
  <%= text_field_tag(:address, params[:address], :size => 100) %><br>
  <%= label_tag(:distance, "Distance") %><br>
  <%= text_field_tag(:distance, params[:address], :size => 5) %>
  <br>
  <%= submit_tag("Search") %>
<% end %>
